body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: black;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.pointer-none {
  pointer-events: none;
}

#canvas {
  display: block;
  outline: none;
  max-width: 100vw;
  max-height: 100vh;
}